/* -------------------------------
GENERAL
----------------------------------*/
.wrapper{
  width: 90%;
  max-width: 11000px;
  margin: 0 auto;
}
/* -------------------------------
NAVIGATION Desktop
----------------------------------*/
.nav-desktop{
  background-color: #222;
  height: 80px;
  padding: 0px;
}


.site-logo{
  color: white;
  line-height: 80px;

}
.nav-desktop .menu-desktop{
  line-height: 80px;
  background-color: transparent;
}
.menu > li > a{
  display: inline-block;
  line-height: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
}
.menu > li > a:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
/* -------------------------------
NAVIGATION Mobile
----------------------------------*/
.menu-icon{
  background-color: #222;
}
.off-canvas li{
  list-style-type: none;
  color: rgba(255, 255, 255, 0.8);
  padding-right: 20px;
  padding-left: 20px;
}
.off-canvas{
  background-color: #222;
  color: rgba(255, 255, 255, 0.8);
}
.off-canvas > li > a{
  color: rgba(255, 255, 255, 0.8);
}
.off-canvas > li > a:hover{
  color: rgba(255, 255, 255, 0.2);
}
.title-bar{
  background-color: #222;
  color: rgba(255, 255, 255, 0.8);
}
/* -------------------------------
HERO
----------------------------------*/
.hero{
  background-image: url("../img/stardust.png");
  padding: 60px 10px;

}
.hero h1,.hero p{
  color: rgba(255,255,255,0.8);
  max-width: 70%;
}




/* -------------------------------
MAIN
----------------------------------*/
.main{
padding: 80px 0px;
}
/* -------------------------------
FOOTER
----------------------------------*/
footer{
  background-color: #222;
  padding: 40px 0px;
}
footer a{
  color: rgba(255, 255, 255, .8);
}
footer a:hover{
  display: black;
  color: rgba(255, 255, 255, 0.6);
}
footer hr{
  border-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
}
footer .contact-contet h4{
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

footer .contact-contet a{
  color: rgba(255, 255, 255, .8);
}

/*-------------------------------
MEDIA
--------------------------------*/
@media (max-width: 639px){
  .nav-desktop{
    display: none;
  }
}

/*==================================
ABOUT ME CSS
=====================================*/


.user-profile-image {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}
.profile_one{
  background-image:url(../img/skelly.jpeg);
}
.user_info li{
  list-style-type: none;
}
.user_info span{
  font-weight: bold;
}
